# templates/nginx.conf.j2

{{ ansible_managed | comment }}

user {{ nginx_user | default('www-data') }};
worker_processes {{ nginx_worker_processes | default('auto') }};
error_log {{ nginx_error_log | default('/var/log/nginx/error.log') }};
pid {{ nginx_pid | default('/run/nginx.pid') }};

events {
    worker_connections {{ nginx_worker_connections | default(768) }};
}

http {
    sendfile {{ nginx_sendfile | default('on') }};
    tcp_nopush {{ nginx_tcp_nopush | default('on') }};
    tcp_nodelay {{ nginx_tcp_nodelay | default('on') }};
    keepalive_timeout {{ nginx_keepalive_timeout | default(65) }};
    types_hash_max_size {{ nginx_types_hash_max_size | default(2048) }};

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server {
        listen {{ nginx_listen_port | default(8080) }};
        server_name {{ nginx_server_name | default('localhost') }};

        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
        }
    }
}
